Repository JuaelsonRamos/ROBO-ESOCIAL: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, prettier-format

.pre-commit-config.yaml:

default_language_version:
  python: '3.11'

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff
        description: Formata arquivos Python
        language: script
        always_run: false
        verbose: false
        fail_fast: true
        types: [text]
        files: '\.py$'
        pass_filenames: false
        require_serial: true
        stages: [pre-commit]
        entry: hooks/ruff.sh
      - id: prettier-format
        name: Prettier
        description: Formata arquivos n√£o-Python
        language: system
        always_run: false
        fail_fast: true
        type: [text]
        files: '\.(ya?ml|md|jsonc?|xml|sh|sql)$'
        pass_filenames: true
        require_serial: false
        stafes: [pre-commit]
        entry: npx prettier --write

fix(Actions): remover todas a fim de reavaliá-las aos poucos
  .github/workflows/bandit.yml
  .github/workflows/prettier.yml
  .github/workflows/pylint.yml
  .github/workflows/pyright.yml
  .github/workflows/pytest.yml
  .github/workflows/ruff.yml
Due: prettier-format

feat(Actions): procedimento único de formatação de arquivos
  .github/workflows/format.yml
Due: prettier-format

refactor: trocar ferramenta pre-commit por husky
  .pre-commit-config.yaml
  CONTRIBUTING.md
  ci-requirements.txt
  hooks/ruff.sh
  package.json
Due: prettier-format

feat: git hook de pre-commit (formatação)
  .husky/pre-commit
Due: none

chore: atualizar package-lock.json (husky, git hooks)
  package-lock.json
Due: prettier-format

fix: git não atualizando arquivos antes de comitar
  .husky/pre-commit
Due: none

fix: package-lock.json sendo modificado ao instalar dependências
  package-lock.json
  package.json
Due: prettier-format

feat: add módulo utils, add decorador de bloco anônimo
  utils/__init__.py
  utils/decorators.py
Due: ruff-format

feat(gui): add interface inicial (protótipo, botões de página)
  gui/__init__.py
  gui/__main__.py
  gui/app.py
  gui/styles.py
  gui/widgets/ViewNavigator.py
  gui/widgets/__init__.py
Due: ruff-format

feat(vscode): add config do ruff a .vscode/settings.json
  .vscode/settings.json
Due: prettier-format

feat(docs): lista de links/dicas úteis ao usar o tkinter
  docs/TKINTER.md
Due: prettier-format

feat(gui): add estilo do botão pressionado
  gui/constants/__init__.py
  gui/constants/style.py
  gui/styles.py
  gui/widgets/ViewNavigator.py
Due: ruff-format

feat(gui): add opções básicas de debug
  .vscode/launch.json
Due: prettier-format

feat(gui): pré-definindo botão de página ativo ao executar
  gui/app.py
  gui/widgets/ViewNavigator.py
Due: ruff-format

feat(gui): add página de processamento (básico, protótipo)
  gui/app.py
  gui/constants/style.py
  gui/styles.py
  gui/views/SheetProcess.py
  gui/views/__init__.py
  gui/widgets/ViewNavigator.py
Due: ruff-format

chore(vscode): exlcluir diretórios __pycache__ do explorador de arquivos
  .vscode/settings.json
Due: prettier-format

feat(gui): lista em formato de planilha na página de procressamento
  gui/constants/style.py
  gui/styles.py
  gui/views/SheetProcess.py
Due: ruff-format

refactor(gui): reorganizar views para maior/melhor modularidade
  gui/app.py
  gui/views/SheetProcess.py
  gui/views/SheetProcess/ProcessingQueue.py
  gui/views/SheetProcess/QueueButtonRow.py
  gui/views/SheetProcess/ShortTree.py
  gui/views/SheetProcess/__init__.py
  gui/views/SheetProcess/data.py
Due: ruff-format

feat(docs): TKINTER.md: link com exemplos e estilo
  docs/TKINTER.md
Due: prettier-format

feat(gui): add módulo gui.utils, utilitários para medidas
  gui/utils/__init__.py
  gui/utils/units.py
Due: ruff-format

feat(gui): label da lista planilhas para processamento
  gui/views/SheetProcess/ProcessingQueue.py
  gui/views/SheetProcess/QueueButtonRow.py
Due: ruff-format

refactor(gui): ProcessQueue: convertido em genérica e modular
  gui/views/SheetProcess/InteractiveTreeList.py
  gui/views/SheetProcess/ProcessingQueue.py
Due: ruff-format

feat(gui): SheetProcess: histórico de planilhas
  gui/views/SheetProcess/HistoryList.py
  gui/views/SheetProcess/__init__.py
  gui/views/SheetProcess/data.py
Due: ruff-format

fix(gui): QueueButtonRow: property de instância definida como class property
  gui/views/SheetProcess/QueueButtonRow.py
Due: ruff-format

feat(style): ShortProcess: preencher espaço restante com lista
  gui/views/SheetProcess/InteractiveTreeList.py
  gui/views/SheetProcess/ShortTree.py
Due: ruff-format

fix(gui): SheetProcess: remover margem interna desnecessária
  gui/views/SheetProcess/ShortTree.py
Due: ruff-format

feat(gui): utils: abstração para medidas de dimenção
  gui/utils/units.py
Due: ruff-format

feat(gui): add widget de barra de status
  gui/app.py
  gui/widgets/StatusBar.py
  gui/widgets/__init__.py
Due: ruff-format

feat(gui): barra de progresso do processamento de planilhas
  gui/app.py
  gui/widgets/ProcessingSheetsCounter.py
  gui/widgets/__init__.py
Due: ruff-format

refactor(gui): StatusBar: tornar widget genérico, e modularizá-lo
  gui/app.py
  gui/widgets/StatusBar/ProgressCounter.py
  gui/widgets/StatusBar/StatusBar.py
  gui/widgets/StatusBar/__init__.py
  gui/widgets/__init__.py
Due: ruff-format

chore(gitignore): ignorar copia local do python
  .gitignore
Due: none

refactor: remover config cython, converter script em config simples cx-Freeze
  exe.py
  pyproject.toml
  setup.py
Due: ruff-format

refactor: renomear entrypoin main.py para __main__.py
  src/__main__.py
Due: ruff-format

fix: remover bloqueio de janela para possibilitar captcha manual
  src/utils/acesso.py
Due: ruff-format

fix: dependências muito específicas
  dist-requirements.txt
Due: none

chore(pyproject): remover opção irrelevante, add nome do output
  pyproject.toml
Due: none

fix: src.utils.selenium: class name typo
  src/utils/selenium.py
Due: ruff-format

chore: tornar seleção automática de certificados automática
  assets/certificado.reg
Due: none

feat: incluir assets/certificado.reg no output da build
  pyproject.toml
Due: none

chore: bump elevar versão de 0.0.1 para 0.0.2
  pyproject.toml
Due: none
