Repository JuaelsonRamos/ROBO-ESOCIAL: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, prettier-format

.pre-commit-config.yaml:

default_language_version:
  python: '3.11'

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff
        description: Formata arquivos Python
        language: script
        always_run: false
        verbose: false
        fail_fast: true
        types: [text]
        files: '\.py$'
        pass_filenames: false
        require_serial: true
        stages: [pre-commit]
        entry: hooks/ruff.sh
      - id: prettier-format
        name: Prettier
        description: Formata arquivos n√£o-Python
        language: system
        always_run: false
        fail_fast: true
        type: [text]
        files: '\.(ya?ml|md|jsonc?|xml|sh|sql)$'
        pass_filenames: true
        require_serial: false
        stafes: [pre-commit]
        entry: npx prettier --write

chore(steps): exportar execute_in_order
  crawl/steps/__init__.py
Due: ruff-format

feat(step): StepRuuner e Event async
  crawl/steps/step.py
Due: ruff-format

feat(step): StepRunner e Event: inspecionando signature de função
  crawl/steps/step.py
Due: ruff-format

fix(gui): utils.padding: return type hint
  gui/utils/units.py
Due: ruff-format

refactor(gui): SheetProcess: definição de Headings
  gui/views/SheetProcess/HistoryList.py
  gui/views/SheetProcess/InteractiveTreeList.py
  gui/views/SheetProcess/ProcessingQueue.py
  gui/views/SheetProcess/ShortTree.py
  gui/views/SheetProcess/data.py
Due: ruff-format

fix(ViewNavigator): typing, state setting/inquiring, active setting
  gui/app.py
  gui/widgets/ViewNavigator.py
Due: ruff-format

chore: add taplo, yamlfix, pre-commit dependências
  requirements.txt
Due: none

feat: add yamlfix config, taplo config
  pyproject.toml
  taplo.toml
Due: none

feat: ruff config: remove unused imports on save
  .vscode/settings.json
Due: prettier-format

chore: remove package-lock.json
  package-lock.json
Due: prettier-format

chore: remove package.json
  package.json
Due: prettier-format

chore: remove launch.json configs antigas
  .vscode/launch.json
Due: prettier-format

chore: remove prettier config
  .prettierrc
Due: none

feat: add settings.json prettier config
  .vscode/settings.json
Due: prettier-format

chore: remove husky pre-commit
  .husky/pre-commit
Due: none

fix: yamlfix indent/quote config
  pyproject.toml
Due: none

feat: add pre-commit config
  .pre-commit-config.yaml
Due: prettier-format

fix: ruff config always fixing problems
  pyproject.toml
Due: none

feat: settings.json: python.terminal.activateEnvironment=true
  .vscode/settings.json
Due: prettier-format

feat: use default prettier config
  .vscode/settings.json
Due: prettier-format

fix(Actions): install prettier global, remove unused imports, format toml json yaml
  .github/workflows/format.yml
Due: prettier-format

fix: extensions.json: extensões recomendadas desnecessárias
  .vscode/extensions.json
Due: prettier-format

refactor: move module ./crawl to ./src/crawl
  src/crawl/__init__.py
  src/crawl/steps/__init__.py
  src/crawl/steps/step.py
Due: ruff-format

refactor: move module ./testing to ./src/testing
  src/testing/__init__.py
  src/testing/fake_sheet.py
  src/testing/fake_sheet_test.py
  src/testing/iter.py
Due: ruff-format

refactor: move module ./utils to ./src/utils
  src/utils/__init__.py
  src/utils/assertions.py
  src/utils/constants.py
  src/utils/decorators.py
  src/utils/decorators_test.py
  src/utils/exceptions.py
Due: ruff-format

refactor: move module ./sistema to ./src/sistema
  src/sistema/models/Cell.py
  src/sistema/models/Column.py
  src/sistema/models/__init__.py
  src/sistema/parsers/__init__.py
  src/sistema/parsers/modelo1/__init__.py
  src/sistema/parsers/modelo1/parser.py
  src/sistema/parsers/modelo1/schema.py
  src/sistema/parsers/parser.py
  src/sistema/spreadsheet/__init__.py
  src/sistema/spreadsheet/constants.py
  src/sistema/spreadsheet/exceptions.py
  src/sistema/spreadsheet/sheet_columns.py
  src/sistema/spreadsheet/sheet_model.py
  src/sistema/spreadsheet/spreadsheet.py
  src/sistema/spreadsheet/style.py
  src/sistema/spreadsheet/util.py
  src/sistema/validators/__init__.py
  src/sistema/validators/boolean.py
  src/sistema/validators/date.py
  src/sistema/validators/float.py
  src/sistema/validators/integer.py
  src/sistema/validators/integer_string.py
  src/sistema/validators/letter_string.py
  src/sistema/validators/numeric_string.py
  src/sistema/validators/option.py
  src/sistema/validators/string.py
  src/sistema/validators/validator.py
Due: ruff-format

refactor: move module ./gui to ./src/gui
  src/gui/__init__.py
  src/gui/__main__.py
  src/gui/app.py
  src/gui/asyncio.py
  src/gui/constants/__init__.py
  src/gui/constants/style.py
  src/gui/styles.py
  src/gui/utils/__init__.py
  src/gui/utils/units.py
  src/gui/views/SheetProcess/HistoryList.py
  src/gui/views/SheetProcess/InteractiveTreeList.py
  src/gui/views/SheetProcess/ProcessingQueue.py
  src/gui/views/SheetProcess/QueueButtonRow.py
  src/gui/views/SheetProcess/ShortTree.py
  src/gui/views/SheetProcess/__init__.py
  src/gui/views/SheetProcess/data.py
  src/gui/views/__init__.py
  src/gui/widgets/StatusBar/ProgressCounter.py
  src/gui/widgets/StatusBar/StatusBar.py
  src/gui/widgets/StatusBar/__init__.py
  src/gui/widgets/ViewNavigator.py
  src/gui/widgets/__init__.py
Due: ruff-format

chore: remove pyright config
  pyproject.toml
Due: none

chore: add mypy dependência
  requirements.txt
Due: none

feat: mypy config
  .vscode/settings.json
  pyproject.toml
Due: prettier-format

fix: não usando formatador toml do vscode
  .vscode/settings.json
Due: prettier-format

feat: vscode type hint config
  .vscode/settings.json
Due: prettier-format

feat: igualar config do yamlfix com a do prettier
  pyproject.toml
Due: none

feat: vscode extension emeraldwalk.RunOnSave
  .vscode/extensions.json
Due: prettier-format

feat(scripts): add json format script
  scripts/format_json.py
Due: ruff-format

feat: vscode RunOnSave hooks, removed prettier for json
  .vscode/settings.json
Due: prettier-format

fix(Actions): format.yml: add yamlfix, taplo, format_json script, fix prettier jsonc
  .github/workflows/format.yml
Due: prettier-format

feat: vscode RunOnSave: add jsonc, ignore .vscode dir
  .vscode/settings.json
Due: prettier-format

feat(scripts): format_json: add jsonc support, add trailling new line
  scripts/format_json.py
Due: ruff-format
